body {
  font-family: Arial, sans-serif;
}

#admin-interface {
  width: 80%;
  margin: 40px auto;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0,0,0,.05);
}

#clients-list {
  list-style-type: none;
  margin-bottom: 10px;
}

.client-item {
  background-color: #f9f9f9;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.client-name {
  font-weight: bold;
}

.publication-list {
  list-style-type: none;
  margin-bottom: 10px;
}

.publication-item {
  background-color: #f9f9f9;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.publication-name {
  font-weight: bold;
}

#tracking-and-analytics {
  width: 80%;
  margin: 40px auto;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0,0,0,.05);
}

#tracking-and-analytics h2 {
  font-weight: bold;
}
