body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #00698f;
    text-align: center;
}

#programme-list {
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}