/* styles.css */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
}

#weather-container {
  width: 80%;
  border: 1px solid #ddd;
  padding: 20px;
}
