body {
  font-family: Arial, sans-serif;
}

#weather-title {
  text-align: center;
  margin-bottom: 20px;
}

#weather-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.temperature-value {
  font-size: 48px;
  font-weight: bold;
}
